<header class="header" id="header">
  <div class="navbar navbar-expand pt-0 pb-0 header-bar-color">
    <div class="container p-0">
      <div class="collapse navbar-collapse">
        {{! Left links field }}
        <ul class="navbar-nav me-auto" id="nav-leftlink">
          <li class="nav-item">
            <a class="nav-link active navbar-font-link pb-2 m-0" href="#">Trở
              thành người bán hàng</a>
          </li>

          <li class="nav-item">
            <p class="nav-link disabled navbar-font-link pb-2 m-0">|</p>
          </li>

          <li class="nav-item">
            <a class="nav-link active navbar-font-link pb-2 m-0" href="#">Hỗ trợ</a>
          </li>

          <li class="nav-item">
            <p class="nav-link disabled navbar-font-link pb-2 m-0">|</p>
          </li>

          <li clas="nav-item">
            <a href="http://www.facebook.com/MinMinPD2211" class="nav-link active navbar-icon pb-2 m-0">
              <i class="bi bi-facebook"></i>
            </a>
          </li>
          <li clas="nav-item">
            <a href="https://twitter.com/PHAN_DUONG_MINH" class="nav-link active navbar-icon pb-2 m-0">
              <i class="bi bi-twitter"></i>
            </a>
          </li>
        </ul>
        {{! Menu button when < 768px }} <ul class="navbar-nav me-auto" id="nav-menubutton">
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle nav-dropdown-font" href="#" role="button"
              data-bs-toggle="dropdown">
              <i class="bi bi-list navbar-menuicon"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li class="nav-item">
                <a class="dropdown-item" href="#">Trở thành người bán hàng</a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item" href="#">Hỗ trợ</a>
              </li>
            </ul>
          </li>
          </ul>

          {{! Right links field }}
          <ul class="navbar-nav ml-0 d-flex align-items-center">
            <li class="nav-item dropdown">
              <a class="nav-link active nav-dropdown-font" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa-solid fa-earth-americas"></i> Ngôn ngữ
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li>
                  <a class="dropdown-item" href="/">Tiếng Việt</a>
                </li>
              </ul>
            </li>

            {{#if user}}
            <li class="nav-item user-dropdown">
              <a class="nav-link avt-btn-wrapper" href="/me">
                <span class="me-2">
                  <img src={{user.photo}} class='avt me-2' alt="avt" />
                  {{user.name}}
                </span>
                <i class="fa-solid fa-chevron-down fa-2xs"></i>
              </a>
              <div class='user-dropdown-content'>
                <div class='row p-2 simple-white-btn'>
                  <a href="/me" class='erase-underline text-black'>
                    <i class="fa-solid fa-user"></i>
                    &nbsp; Thông tin cá nhân
                  </a>
                </div>
                {{#if_cond user.role '===' 'user'}}
                <div class='row p-2 simple-white-btn'>
                  <a href="/orders" class='erase-underline text-black'>
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    &nbsp; Lịch sử mua hàng
                  </a>
                </div>
                {{/if_cond}}
                {{#if_cond user.role "===" "admin"}}
                <div class='row p-2 simple-white-btn'>
                  <a class='text-black emptyBtn text-align-left erase-underline' href="/admin/dashboard">
                    <i class="fa-solid fa-users"></i>
                    &nbsp; Trang Admin
                  </a>
                </div>
                {{/if_cond}}
                <div class='row p-2 simple-white-btn'>
                  <button class='text-black emptyBtn text-align-left' id="signout-user">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    &nbsp; Đăng xuất
                  </button>
                </div>
              </div>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link active navbar-font-link pb-2 m-0" href="/admin/sign-up">Đăng ký</a>
            </li>
            <li class="nav-item">
              <p class="nav-link disabled navbar-font-link pb-2 m-0">|</p>
            </li>
            <li class="nav-item">
              <a class="nav-link active navbar-font-link pb-2 m-0" href="/admin/sign-in">Đăng nhập</a>
            </li>
            {{/if}}
          </ul>
      </div>
    </div>
  </div>
  <div class="navbar navbar-expand p-0 header-background">
    <div class="container pt-4">
      <div class="row w-100 m-0">
        <div class="collapse navbar-collapse">
          <div class="col-3">
            <a class="navbar-brand pb-0" href="/">
              <figure class="figure mb-0">
                <img src="/images/logo/logo.png" class="figure-img img-fluid rounded" alt="SF logo" id="logo" />
              </figure>
            </a>
          </div>
          <div class="col-8">
            <div class="input-group">
              <input type="text" class="form-control search-box" id="search-box"
                placeholder="Cùng tìm kiếm vài món ăn ngon nào!" />
              {{!-- <a href="/products"> --}}
                <button type="button" class="btn btn-primary">
                  <i class="bi bi-search"></i>
                </button>
            </div>
            <div class="mt-2" id="hrz-menu">
              <a href="/products" class="nav-menu-font">Cơm</a>
              <a href="/products" class="nav-menu-font">Phở</a>
              <a href="/products" class="nav-menu-font">Đồ ăn vặt</a>
              <a href="/products" class="nav-menu-font">Trà sữa</a>
              <a href="/products" class="nav-menu-font">Bún đậu mắm tôm</a>
            </div>
          </div>
          <div class="col d-flex justify-content-end" id="cart">
            {{#if user}}
            {{#if_cond user.role '===' 'user'}}
            <a class="cart-icon-wrapper" href="/user/{{../user._id}}/cart">
              <i class="bi bi-cart cart-icon"></i>
              <div class="cart-icon__quantity">{{../quantity}}</div>
            </a>
            {{/if_cond}}
            {{#if_cond user.role '===' 'admin'}}
            <a class="cart-icon-wrapper" href="javascript:;">
              <i class="bi bi-cart cart-icon"></i>
              <div class="cart-icon__quantity">0</div>
            </a>
            {{/if_cond}}
            {{else}}
            <a class="cart-icon-wrapper" href="/admin/sign-in">
              <i class="bi bi-cart cart-icon"></i>
              <div class="cart-icon__quantity">0</div>
            </a>
            {{/if}}

          </div>
        </div>
      </div>
    </div>
  </div>
</header>